article strong {
	font-family: 黑体,fantasy;
	font-weight: bolder;
}
article em {
	font-family: 楷体,sans-serif;
	font-style: normal;
}
article em strong, article strong em {
	font-family: 黑体,fantasy;
	font-weight: bolder;
	font-style: italic;
}
article a, article a:hover, article a:visited {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
article a[href], article a[href]:hover, article a[href]:visited {
	color: rgb(68, 206, 246);
	text-decoration: none;
}
article a[href]:hover {
	text-decoration: underline;
}

article u {
	text-decoration: none;
	padding: 1px;
	border-bottom: 1px solid rgb(225, 225, 227);
}

article span.text-wavy {
	text-decoration: wavy underline;
}
article span.text-larger.level-1 {
	font-size: large;
}
article span.text-larger.level-2 {
	font-size: larger;
}
article span.text-larger.level-3 {
	font-size: x-large;
}
article span.text-larger, article span.text-larger.level-4 {
	font-size: xx-large;
}

article span.color-red {
	color: rgb(200, 60, 35);
}
article span.color-green {
	color: rgb(0, 224, 121);
}
article span.color-blue {
	color: rgb(75, 92, 196);
}
article span.color-yellow {
	color: rgb(255, 241, 67);
}
article span.color-gray {
	color: rgb(161, 175, 201);
}
article span.color-white {
	color: rgb(240, 252, 255);
}
article span.color-black {
	color: rgb(0, 0, 0);
	text-shadow: 1px 1px 0px rgba(225, 225, 227, 0.3);
}
article span.color-gold {
	color: rgb(242, 190, 69);
}
article span.color-silver {
	color: rgb(186, 202, 198);
}
article span.color-dark {
	color: rgb(80, 97, 109);
}

article p {
	margin: 10px 0px;
}
article p.indent.indent-1 {
	text-indent: 20px;
}
article p.indent.indent-2 {
	text-indent: 40px;
}
article p.indent.indent-3 {
	text-indent: 60px;
}
article p.indent.indent-4 {
	text-indent: 80px;
}
article p.indent,
article p.indent.indent-5 {
	text-indent: 100px;
}
article p.align-left {
	text-align: left;
}
article p.align-center {
	text-align: center;
}
article p.align-right {
	text-align: right;
}

article code {
	margin: 0px 2px;
	padding: 2px 5px;
	border-radius: 3px;
	color: rgb(164, 226, 198);
	background-color: rgb(76, 34, 27);
	box-shadow: 0px 0px 1px white;
}
article pre {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	border-radius: 5px;
	background-color: black;
	font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
	font-size: 14px;
	text-align: left;
	word-wrap: normal;
	word-break: break-all;
	white-space: pre;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
	counter-reset: linenumber;
	overflow: auto;
	max-height: 600px;
}
article pre::-webkit-scrollbar {
	width: 12px;
	background-color: transparent;
	cursor: default;
}
article pre::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgb(75, 75, 75);
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.5);
	cursor: default;
}
article pre::-webkit-scrollbar-track {
	border-radius: 6px;
	background-color: rgba(225, 225, 225, 0.1);
	box-shadow: inset 2px 2px 3px rgba(53, 53, 53, 0.2);
	cursor: default;
}
article pre code {
	margin: 0px;
	padding: 0px;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	background-color: transparent;
	box-shadow: none;
}

article table {
	box-sizing: border-box;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-collapse: collapse;
	border: 1px solid rgb(194, 204, 208);
	border-spacing: 2px;
	background-color: rgb(61, 59, 79);
	box-shadow: 2px 2px 2px 1px rgba(227, 239, 253, 0.2);
	line-height: 1.8;
}
article table thead {
	font-weight: bolder;
	word-break: break-word;
	background-color: black;
}
article table thead th,
article table tbody td {
	padding: 5px 8px;
	border: 1px solid rgb(66, 80, 102);
	vertical-align: middle;
}

article blockquote {
	margin: 10px 0px;
	padding: 5px 5px 5px 8px;
	border-left: 10px solid rgb(26, 26, 26);
	background-color: rgba(75, 75, 75, 0.3);
	box-shadow: inset 0px 0px 2px rgb(227, 239, 253), 1px 1px 5px 1px rgba(194, 204, 208, 0.5);
}
article blockquote.quote {
	padding: 10px 20px;
	border-left: none;
	font-family: 楷体,sans-serif;
}
article blockquote.warning {
	padding: 10px 20px;
	border-left: none;
	border-radius: 10px;
	box-shadow: inset 2px 2px 5px 1px rgba(227, 239, 253, 0.5);
}
article blockquote.danger {
	padding: 10px 20px;
	border-left: none;
	border-top: 5px solid rgb(200, 60, 35);
	border-bottom: 5px solid rgb(200, 60, 35);
	background-color: rgb(96, 40, 30);
	font-family: 黑体,fantasy;
}
article blockquote.success {
	border-left: none;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px 20px;
	box-shadow: 5px 5px 6px rgb(22, 24, 35);
	background-color: rgb(6, 82, 121);
}

article div.image-wall,
article div.resource {
	position: relative;
	display: block;
	box-sizing: border-box;
	margin: 10px 0px;
	padding: 0px;
	text-align: center;
}
article div.image-wall {
	white-space: nowrap;
	overflow: auto;
}
article div.image-wall::-webkit-scrollbar {
	width: 12px;
	background-color: transparent;
	cursor: default;
}
article div.image-wall::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgb(75, 75, 75);
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.5);
	cursor: default;
}
article div.image-wall::-webkit-scrollbar-track {
	border-radius: 6px;
	background-color: rgba(225, 225, 225, 0.1);
	box-shadow: inset 2px 2px 3px rgba(53, 53, 53, 0.2);
	cursor: default;
}
article div.resource.float-left {
	max-width: 40%;
	margin-right: 10px;
	float: left;
}
article div.resource.float-right {
	max-width: 40%;
	margin-left: 10px;
	float: right;
}
article div.image-wall div.resource {
	margin: 0px;
	display: inline-block;
	vertical-align: middle;
}
article div.resource figure {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
}
article div.resource figure img,
article div.resource figure video,
article div.resource figure audio {
	max-width: 100%;
	text-align: center;
}
article div.resource figcaption {
	display: inline-block;
	min-width: 100px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 2px 8px;
	border-bottom: 1px solid rgb(127, 127, 127);
	font-family: 楷体,sans-serif;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
}
article div.resource figcaption:empty {
	display: none;
}

article hr {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20%;
	margin-right: 20%;
	color: black;
	border-color: rgb(96, 96, 96);
}
article hr.footnote-line,
article hr.endnote-line {
	width: 300px;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: auto;
	border-color: rgb(75, 75, 75);
}
article hr.endnote-line {
	width: auto;
	margin-right: 0px;
}
article hr.footnote-line.end {
	margin-top: 20px;
}
article hr.light {
	border-top: none;
	border-left: none;
	border-right: none;
	border-style: solid;
	border-width: 1px;
}
article hr.heavy {
	border-left: none;
	border-right: none;
	border-style: double;
	border-width: 1px;
	height: 2px;
}
article hr.strong {
	border-top: none;
	border-bottom: none;
	height: 1px;
	background-image: linear-gradient(to right, transparent 0%, rgb(96, 96, 96) 25%, rgb(96, 96, 96) 75%, transparent 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
}
article hr.wavy {
	border: none;
	height: 8px;
	background-image: linear-gradient(45deg, transparent 45%, rgb(225, 225, 225) 45%, transparent 55%), linear-gradient(-45deg, transparent 45%, rgb(225, 225, 225) 45%, transparent 55%);
	background-position: 50% 50%;
	background-repeat: repeat-x;
	background-size: 8px 8px;
}
article hr.dotted {
	border-top: none;
	border-bottom: none;
	height: 5px;
	background-image: radial-gradient(circle, rgb(96, 96, 96) 40%, transparent 40%);
	background-position: 0 0;
	background-repeat: repeat-x;
	background-size: 5px 5px;
}
article hr.dashed {
	border-top: none;
	border-bottom: none;
	height: 1px;
	background-image: linear-gradient(to right, rgb(96, 96, 96) 75%, transparent 75%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 8px 1px;
}
article hr.star {
	border: none;
	height: 20px;
	background-image: radial-gradient(circle, transparent 60%, rgb(96, 96, 96) 60%, rgb(96, 96, 96) 62%, transparent 62%);
	background-position: 50% 50%;
	background-repeat: repeat-x;
	background-size: 20px 20px;
}

article h1 {
	margin-bottom: 50px;
	font-size: 36px;
	font-weight: bolder;
	line-height: 40px;
}
article h1[name="ContentTable"] {
	margin-bottom: 20px;
}
article h2 {
	margin-top: 50px;
	margin-bottom: 42px;
	font-size: 32px;
	font-weight: bolder;
	line-height: 38px;
}
article h3 {
	margin-top: 45px;
	margin-bottom: 36px;
	font-size: 28px;
	font-weight: bolder;
	line-height: 36px;
}
article h4 {
	margin-top: 40px;
	margin-bottom: 32px;
	font-size: 24px;
	font-weight: bolder;
	line-height: 34px;
}
article h5 {
	margin-top: 35px;
	margin-bottom: 28px;
	font-size: 21px;
	font-weight: bolder;
	line-height: 32px;
}
article h6 {
	margin-top: 30px;
	margin-bottom: 26px;
	font-size: 18px;
	font-weight: bolder;
	line-height: 30px;
}
article h7 {
	display: block;
	margin-top: 25px;
	margin-bottom: 24px;
	font-size: 17px;
	font-weight: bolder;
	line-height: 28px;
}
article h8 {
	display: block;
	margin-top: 22px;
	margin-bottom: 22px;
	font-size: 17px;
	font-weight: bolder;
	line-height: 26px;
}
article h9 {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: bolder;
	line-height: 24px;
}
article h10 {
	display: block;
	margin-top: 18px;
	margin-bottom: 18px;
	font-size: 16px;
	font-weight: bolder;
	line-height: 24px;
}
article h11 {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 24px;
}
article h12 {
	display: block;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 24px;
}
article h13 {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 24px;
}

article a.notemark, article a.terminology {
	color: rgb(227, 227, 227);
	cursor: pointer;
	transition: color 200ms ease-in-out;
}
article a.notemark:visited, article a.terminology:visited {
	color: rgb(227, 227, 227);
}
article a.notemark:hover, article a.terminology:hover {
	color: rgb(68, 206, 246);
}

article p.glossary-item {
	padding-left: 120px;
	font-size: 16px;
	line-height: 24px;
	text-indent: -120px;
}
article p.glossary-item a.glossary-indent {
	display: inline-block;
	min-width: 120px;
	font-weight: bolder;
	text-indent: 0px;
}

article > header.article-title {
	display: block;
	margin-bottom: 50px;
	padding: 20px;
	border-bottom: 1px solid rgb(96, 96, 96);
	font-size: 38px;
	font-weight: bolder;
	line-height: 42px;
	text-align: center;
	cursor: default;
}
article > header.article-title p.author {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 18px;
	text-align: right;
}
article > header.article-title p.author,
article > header.article-title p.author a {
	color: rgb(200, 200, 200);
}
article > section {
	margin-bottom: 200px;
}
article > section:last-child {
	margin-bottom: 0px;
}
article > section.endnote-chapter {
	margin-bottom: 20px;
}
article > section > footer {
	padding: 0px 10px;
}
article > section > footer > p.footnote-title {
	font-size: 17px;
	font-weight: bolder;
}
article > section > footer > p.footnote-content {
	padding-left: 45px;
	text-indent: -45px;
	font-size: 15px;
	line-height: 18px;
}
article > section > footer > p.footnote-content > a.index {
	display: inline-block;
	width: 45px;
	padding-left: 0px;
	text-indent: 0px;
	text-align: right;
}
article > section.endnote-chapter > h1 {
	margin-top: 50px;
	margin-bottom: 42px;
	font-size: 32px;
	font-weight: bolder;
	line-height: 38px;
}
article > section.endnote-chapter > h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 26px;
	font-weight: bolder;
	line-height: 30px;
}
article > section.endnote-chapter > ul > li {
	margin: 5px 0px;
	font-size: 14px;
	line-height: 18px;
}
article > section > p.endnote-content {
	padding-left: 55px;
	text-indent: -55px;
}
article > section > p.endnote-content > a.index {
	display: inline-block;
	width: 55px;
	padding-left: 0px;
	text-indent: 0px;
	text-align: right;
}
article > section > aside.content-table {
	margin-bottom: 50px;
}
article > section > aside.content-table p.content-item {
	font-size: 16px;
	line-height: 20px;
}
article > section > aside.content-table p.content-item.level-1 {
	margin-top: 20px;
	font-size: 20px;
	font-weight: bolder;
}
article > section > aside.content-table p.content-item.level-2 {
	font-weight: bolder;
}
article > section > aside.content-table p.content-item span.content-indent {
	display: inline-block;
	width: 30px;
}
article > section > aside.content-table p.content-item a {
	color: rgb(225, 225, 225);
}